.event-row {
  border-bottom: 1px solid #c0cbc4;
  padding-bottom: 20px;
  padding-top: 20px;
  &:last-child {
    border-bottom: 0;
  }
}



/*
* List Results Page
*/
.view-calendar.view-id-calendar .view-header {
  text-align: left;
}

.event-list-item {
  clear: both;
  padding-top: 20px;
  h3 {
    font-weight: 600;
    margin-top: 0;
  }
}

.event-info {
  h3 {
    margin-top: 0;
  }
}

.date-info {
  float: right;
  background-color: #f3eade;
  border: 1px solid #c0cbc4;
  text-align: center;
  padding-bottom: 8px;
  width: 88px;
  max-width: 88px;
  min-width: 88px;
  margin-bottom: 12px;
  .custom-dayOfWeek {
    color: #666666;
    background-color: #f3eade;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-size: 18px;
    font-size: 1.28571em;
    line-height: 1.33333;
  }
  .custom-day {
    color: #aa3f2a;
    margin-bottom: 8px;
    font-size: 36px;
    font-size: 2.57143em;
    line-height: 1.16667em;
  }
  .custom-month {
    color: #f3eade;
    background-color: #aa3f2a;
    font-family: "RalewayMedium", Arial, Helvetica, sans-serif;
    padding: 4px 0;
    font-size: 18px;
    font-size: 1.28571em;
    line-height: 1.33333;
    text-transform: uppercase;
    display: block;
    margin-bottom: 4px;
  }
  .custom-year {
    font-size: 1.28571em;
    line-height: 1.33333;
    display: block;
    font-family: "RalewayMedium", Arial, Helvetica, sans-serif;
    color: #666666;
  }
}
  .event-item,.audience-item {
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #066e6b;
    border-radius: 4px;
    color: white;
    float: left;
    font-size: 0.85714em;
    font-size: 12px;
    letter-spacing: 0.07em;
    line-height: 1.33333;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .audience-item {
    background-color: #aa3f2a;
  }

  .sp-content .views-widget-filter-field_event_type_tid, .sp-content .views-widget-filter-field_event_audience_tid {
    border: 1px solid #b9bcce;
    background: #fff;
    font-size: 15px;
    color: #292b36;
    margin: .5em 1em 0 0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-top: 10px;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;

    a {
      text-decoration: none;
      padding-left: 10px;
      width: 100%;
      position: absolute;
      top: 0;
      height: 100%;
    }
  }

.sp-content ul > li:before {
  display:none;
}

.sp-content ul.bef-tree-child {
  margin: 0;
  padding: 0;
}

.cursor-pointer:hover {
  cursor: pointer;
}
