.NavigationItem {
	color: #fff;
}

.content {
	margin-top: 60px;
}

.exercise-list img {
	height: 100px;
	width: 100px;
}

.sticky {
  position: fixed;
}

.is-current a {
	color: #fff;
  cursor: default;
  background-color: #0275d8;
}

.exercise-detail ol {
	margin-left: 0;
	padding-left: 16px;
}