.NavigationItem {
	color: #fff;
}

.content {
	margin-top: 60px;
}

.exercise-list img {
	height: 100px;
	width: 100px;
}

.sticky {
  position: fixed;
}

a.active {
	color: #fff!important;
  cursor: default;
  text-decoration: underline;
}

.exercise-detail ol {
	margin-left: 0;
	padding-left: 16px;
}

nav form {
	padding-top: 8px;
}

nav input {
	margin-right: 10px;
}